body.auth {
    overflow: hidden;
}


.form {
    width: max(80%, 300px);
    margin: auto;
}

.form__head {
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
}

.form__label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__label:not(:last-child) {
    margin-bottom: 20px;
}

.form__label span {
    font-weight: 600;
    color: var(--color-black);
    font-size: 20px;
}

.form__label input {
    border: none;
    border-bottom: 3px solid var(--color-yellow);
    padding-left: 55px;
    padding-bottom: 16px;
    background: transparent;
    color: var(--color-black);
    font-size: 18px;
    font-weight: 400;
}

.form__label input::placeholder {
    color: var(--color-black);
    opacity: .5;
}

.form__label input:focus {
    outline: none;
}

.form__label::before {
    content: "";
    width: 26px;
    height: 26px;
    background-image: url("./assets/icons/icon-email.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0px;
    bottom: 16px;

}

.form__label.password::before {
    background-image: url("./assets/icons/icon-password.svg");
}

.form__label.phone::before {
    background-image: url("./assets/icons/icon-phone.svg");
}

.form__label::after {
    content: "";
    position: absolute;
    left: 39px;
    bottom: 16px;
    width: 2px;
    height: 26px;
    background: var(--color-white);

}

.password__text {
    width: 22px;
    height: 22px;
    background-image: url("./assets/icons/view-off.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: 0px;
    bottom: 16px;
    cursor: pointer;
}

.form__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label__checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;

}

.label__checkbox .label__text {
    font-size: 18px;
    color: var(--color-black);
    font-weight: 400;
}

.label__checkbox .label__check {
    width: 18px;
    height: 18px;
    border: 1px solid var(--color-black);
    border-radius: 4px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.label__check:before {
    content: "";
    width: .65em;
    height: .65em;
    transform: scale(0);
    transition: .12s transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-yellow);
    transform-origin: bottom left;

    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.label__checkbox input {
    appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
}

.form__btn {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 170px;
}

.label__checkbox input:checked~.label__check::before {
    transform: scale(1);
}

.about__text {
    text-align: center;
    font-size: 18px;
    color: var(--color-black);
    margin-top: 30px;
}

/* .form__label.error {
    margin-bottom: 30px;
} */

.error-message {
    position: absolute;
    left: 0;
    bottom: -40px;
    color: var(--color-red)
}

.form__label.error input {
    border-color: var(--color-red);
}

.password__text.check {
    transform: rotate(180deg);
}

.link {
    color: var(--color-yellow)
}

.form__pay {
    margin-top: 30px;
}

.form__pay::before,
.form__pay::after {
    display: none;

}

.form__info {
    justify-content: start;
    gap: 20px;
}

.form__info input {
    padding-left: 0;
}

.label__checkbox .label__check {
    border-color: var(--color-yellow);
}

.form__order .form__label::after,
.form__order .form__label::before {
    display: none;
}

.form__order .form__label input {
    padding-left: 0;
    padding-bottom: 10px;
}